on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
    - run: python3 -m pip install ruff coverage
    - run: ruff check xibus tests
    - run: dbus-run-session -- python3 -m coverage run -m unittest discover tests
    - run: python3 -m coverage report
  publish:
    needs: [test]
    if: startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
    - run: python3 -m pip install build
    - run: python3 -m build
    - name: publish
      uses: pypa/gh-action-pypi-publish@release/v1
